
<div >
  <slot />
</div>

<style lang="scss">
  div {
    :global(p) {
      @apply my-4 text-slate-700 leading-6
    }

    :global(li) {
      @apply my-2 text-slate-700
    }

    :global(ul) {
      @apply list-disc ml-8 text-slate-700
    }

    :global(figure) {
      @apply mx-auto my-8 w-3/4 md:w-5/6;

      :global(figcaption) {
        @apply text-slate-600 text-center mt-2
      }
    }

    :global(h1) {
      @apply text-slate-800 text-3xl font-bold mt-7 mb-3
    }

    :global(h2) {
      @apply text-slate-800 text-2xl font-semibold mt-5 mb-2
    }

    :global(h3) {
      @apply text-slate-800 text-lg font-medium mt-4 mb-1
    }

    :global(h4) {
      @apply text-slate-800 font-medium mt-3 mb-1
    }
  }

  :global(.dark) {
    div {
      :global(h1), :global(h2), :global(h3), :global(h4) {
        @apply text-slate-200
      }

      :global(p), :global(li) {
        @apply text-slate-300
      }

      :global(figure) :global(figcaption) {
        @apply text-slate-400
      }
    }
  }
</style>