
<div >
  <slot />
</div>

<style lang="scss">
  div {
    :global(p) {
      @apply my-4 text-slate-700
    }

    :global(li) {
      @apply my-2 text-slate-700
    }

    :global(ul) {
      @apply list-disc ml-8 text-slate-700
    }

    :global(img) {
      @apply mx-auto my-8 w-3/4 md:w-5/6
    }

    :global(h1) {
      @apply text-3xl font-bold my-3
    }

    :global(h2) {
      @apply text-2xl font-semibold my-3
    }

    :global(h3) {
      @apply text-xl my-3
    }

    :global(h4) {
      @apply text-lg my-3
    }
  }

  :global(.dark) {
    div {
      :global(p) {
        @apply text-white
      }

      :global(li) {
        @apply text-white
      }
    }
  }
</style>