<div class="border-2 border-solid rounded-lg">
  <select id="theme-change-selector">
    <option value="light"><i class="fa-solid fa-sun"></i></option>
    <option value="dark"><i class="fa-solid fa-moon"></i></option>
    <option value="system"><i class="fa-solid fa-desktop"></i></option>
  </select>
</div>

<script>

  const setTheme = (theme: string) => {
    const elem = themeChangeButton.querySelector(`option[value="${theme}"]`).selected = true
  }

  const changeTheme = (theme: string) => {
    switch (theme) {
      case 'light':
        document.documentElement.classList.remove('dark')
        break
      case 'dark':
        document.documentElement.classList.add('dark')
        break
      case 'system':
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
        break
    }
  const themeChangeButton = document.querySelector('#theme-change-selector');
  themeChangeButton?.addEventListener('change', (event) => changeTheme(event.target.value))

    localStorage.theme = theme
  }

  const theme = localStorage.theme || 'system'
  setTheme(theme)
  changeTheme(theme)
</script>