<div>
  <select id="theme-change-selector">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
    <option value="system">System</option>
  </select>
</div>

<script>
  const setTheme = (theme) => {
    themeChangeButton.querySelector(`option[value="${theme}"]`).selected = true
  }

  const changeTheme = (theme) => {
    switch (theme) {
      case 'light':
        document.documentElement.classList.remove('dark')
        break
      case 'dark':
        document.documentElement.classList.add('dark')
        break
      case 'system':
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
        break
    }

    localStorage.theme = theme
  }

  const themeChangeButton = document.querySelector('#theme-change-selector');
  themeChangeButton?.addEventListener('change', (event) => changeTheme(event.target.value))

  const theme = localStorage.theme || 'system'
  setTheme(theme)
  changeTheme(theme)
</script>