---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';

const { title, description } = Astro.props;
---

<html lang="jp">
	<head>
    <BaseHead title={title} description={description} />
	</head>
	<body class="bg-white dark:bg-slate-800">
    <div class="max-w-3xl m-auto">
      <Header />
      <main class="px-8">
        <slot />
      </main>
    </div>
	</body>
</html>